*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #fafcff;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: fill;
    background-attachment: fixed;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    width: 100%;
    height: 100px;
    padding: 0px 136px;
}
.nav__menu{
    width: 700px;
    height: 100%;
    list-style-type: none;
}
.nav__menu li {
    font-size: 16px;
    font-weight: 700;
    color: #666666;
}
.nav__logo{
    color: #4579CB;
}
.explore__btn{
    width: 170px;
    height: 50px;
    background-color: #4579CB;
    color: #ffff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 700;
}
.main__section{
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./bg.svg");
    display: grid;
    place-items: center;
}
.main__content{
    text-align: center;
}
.main__title{
    font-size: 56px;
    color: #474747;
    width: 1100px;
    margin: auto;
    line-height: 80px;
    letter-spacing: 2px;
}
.main__title span{
    color: #4579CB;
}
.main__description{
    color: #666666;
    font-size: 16px;
    line-height: 24px;
    width: 828px;
    margin: 40px auto;
}
.main__link{
    margin: 20px 0 0 0;
}
.fa-youtube {
    color: #EB5757;
    margin-right: 19px;
    font-size: 24px;
}
.box{
    width: 1439px;
    height: 400px;
}
.box__p{
    font-weight: 700px;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    color: #474747;
    margin-left: 400px;
}
.box__p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 875px;
    height: 48px;
    margin: 20px 500px;
    color: #666666;
}
.box__description{
    text-align: center;
}
/* .box{
    width: 100%;
    height: 100vh;
} */
.box__img{
    display: flex;
    margin: 46px 250px;
}
.box__icon{
    margin: 23px 900px;
}
.communicate{
    width: 1104px;
    height: 437px;
    display: flex;
    margin: auto;
}
.cmt__p{
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
    color: #474747;
}
.cmt__content{
    width: 558px;
    height: 306px;
    margin-left: 90px;
    margin-top: 65px;
    margin-bottom: 66px;
}
.cmt__p2{
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin: 24px 0px 30px;
    width: 527px;
}
.cmt__btn{
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #4579CB;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffff;
    border: none;
}
.cmt__content2{
    width: 558px;
    height: 306px;
    margin-top: 65px;
    margin-bottom: 66px;
}
.cmt__img2{
    margin-left: 90px;
    display: flex;
    margin: 46px 250px;
}
.cmt__img3{
    
    display: flex;
    margin-top: 50px;
}
.why{
    width: 1170px;
    height: 758px;
    margin: 120px auto;
}
.why__p{
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    color: #474747;
}
.why__p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 743px;
    color: #666666;
    display: flex;
    margin-left: 215px;
}
.why__about{
    width: 1170px;
    height: 267px;
    margin: 51px auto;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 300px);
}
.why__box{
    width: 270px;
    height: 267px;
    border-radius: 8px;
    background-color: #F6F7FD;
}
.why__box__p{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 13px 0px 12px;
}
.why__box__p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    width: 236px;
    margin-left: 11px;
}
.why__box__icon{
    margin: 31px 93px 5px;
}
.customer{
    width: 1249px;
    height: 420px;
    margin-left: 300px;
    margin-top: 120px;
    display: flex;
}
.ctr__box{
    margin-left: 110px;
    margin-top: 50px;
}
.ctr__p{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #474747;
}
.ctr__p2{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #474747;
    margin: 4px, 0px, 19px;
}
.ctr__p3{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #474747;
    margin-top: 19px;
    margin-bottom: 34px;
}
.video{
    width: 1169px;
    height: 514px;
    margin: 120px auto;
    background-color: #FAFCFF;
}
.vd__p{
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    color: #474747;
}
.vd__p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    margin: 24px, 0px, 31px;
}
.vd__video{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vd__box{
    width: 550px;
    height: 350px;
    position: relative;
    overflow: hidden;
    background-image: url(./vd__icon.svg);
    border-radius: 40px;
    display: flex;
}
.vd__box::after {
    content: "";
    position: absolute;
    top: 95px;
    left: -200px;
    width: 100%;
    height: 100%;
    background-color: #0B449EE5;
    transform: rotate(50deg) scale(1.2);
}
.vd__box__p{
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #FFFFFF;
    width: 115px;
    margin-top: 219px;
    margin-left: 28px;
}
.vd__box__p2{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-top: 9px;
    margin-left: 28px;
}
.vd__icon{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #e6e6e6ab;
    z-index: 3;
    margin: 115px 80px;
}
.vd__icon__icn{
    margin-top: 35px;
    margin-left: 40px;
}
.vd__p__box{
    z-index: 3;
}
.vd__box2{
    width: 550px;
    height: 350px;
    position: relative;
    overflow: hidden;
    background-image: url(./vd__icon2.svg);
    border-radius: 40px;
    display: flex;
}
.vd__box2::after {
    content: "";
    position: absolute;
    top: 95px;
    left: -200px;
    width: 100%;
    height: 100%;
    background-color: #0B449EE5;
    transform: rotate(50deg) scale(1.2);
}
.faq{
    width: 1170px;
    height: 555px;
    margin: auto;
    margin-top: 100px;
}
.faq__p{
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    color: #474747;
}
.faq__p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 888px;
    color: #666666;
    margin-left: 141px;
    margin-top: 24px;
}
.rectangle{
    width: 1170px;
    height: 379px;
    display: grid;
    grid-template-columns: repeat(2, 570px);
    grid-template-rows: repeat(4, 70px);
    grid-gap: 30px;
    margin-top: 52px;
}
.general{
    width: 570px;
    height: 70px;
    border: 1px solid #CACACA;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.gnr__p{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-left: 27px;
    color: #8C8C8C  ;
}
.fa_1{
    color: #8C8C8C;
    margin-left: 411px;
}
.fa_2{
    color: #8C8C8C;
    margin-left: 371px;
}
.fa_3{
    color: #8C8C8C;
    margin-left: 377px;
}
.fa_4{
    color: #8C8C8C;
    margin-left: 378px;
}
.fa_5{
    color: #8C8C8C;
    margin-left: 360px;
}
.fa_6{
    color: #8C8C8C;
    margin-left: 433px;
}
.fa_7{
    color: #8C8C8C;
    margin-left: 367px;
}
.fa_8{
    color: #8C8C8C;
    margin-left: 407px;
}
.award{
    width: 1370px;
    height: 456px;
    margin: auto;
}
.ar__p{
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    color: #474747;
    margin-top: 120px;
}
.ar__p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    width: 857px;
    margin-left: 247px;
    margin-top: 24px;
}
.ar__group{
    width: 1370px;
    height: 239px;
    display: flex;
    grid-gap: 30px;
    margin-top: 42px;
}
.gr__box{
    width: 170px;
    height: 239px;
    border-radius: 16px;
    background-color: #ffffff;
}
.gr__p{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #4579CB;
    margin-top: 9px;
}
.gr__p2{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #666666;
    width: 141px;
    margin-left: 14px;
    margin-top: 9px;
}
.box__icon2{
    margin: 37px 650px;
}
.email{
    width: 770px;
    height: 245px;
    margin: 120px auto;
}
.email__p{
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    color: #474747;
}
.email__p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    margin-top: 24px;
}
.email__box{
    width: 770px;
    height: 80px;
    background-color: #E6E6E6;
    border-radius: 16px;
    margin-top: 33px;
}
.email__inp{
    width: 543px;
    height: 80px;
    border: none;
    background-color: #E6E6E6;
    margin-left: 34px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    outline: none;
}
.email__btn{
    width: 170px;
    height: 50px;
    background-color: #4579CB;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border: none;
    color: #FFFFFF;
}
.footer{
    width: 1440px;
    height: 336px;
    background-color: #4579CB;
    display: flex;
    margin: auto;
}
.ftr1{
    width: 288px;
    height: 227px;
    margin-left: 135px;
    margin-top: 28px;
}
.ftr1__p{
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
    color: #FFFFFF;
}
.ftr1__p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 278px;
    color: #FFFFFF;
    margin-top: 31px;
}
.ftr2{
    width: 89px;
    height: 100;
    margin-left: 125px;
    margin-top: 44px;
}
.ftr2__p{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.ftr2__p2{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.f{
    margin-top: 31px;
}
.b{
    margin-top: 8px;
}
.ftr3{
    width: 120px;
    height: 100;
    margin-left: 127px;
    margin-top: 44px;
}
.ftr4{
    width: 100;
    height: 100;
    margin-left: 161px;
    margin-top: 44px;
}
.ftr3__p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.fa{
    margin-right: 17px;
}
.link{
    width: 100;
    height: 21px;
    display: flex;
    margin-top: 30px;
    grid-gap: 18px;
}
.d{
    color: #ffffff;
    font-size: 20px;
}
.gr__img{
    margin: 15px 21px;
}
.g{
    margin-top: 25px;
}
.y{
    margin-top: 28px;
}